.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  top: 50px;
  /* background-color: #efeeee; */
  width: 72px;
  /* background-color: #0F0F0F; */
  color: white;
  /* border: 1.5px solid #d8d6d6; */
  z-index: 200;
  padding-top: 5px;

  margin-top: 5px;
  /* border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(228, 228, 228);
  */
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  /* new */
  /* margin-top: 0; */
}

.sidebar-link:hover {
  /* background-color: rgb(235, 235, 235); */
  background-color: rgb(204, 200, 200, 0.2);
  /* new */
  border-radius: 10px;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}

/* 





 */